.wrapper{
    margin: 0 auto;   
}

@media (min-width: 576px) {
    .wrapper{
        max-width: 540px;  
    }
}

@media (min-width: 768px) {
    .wrapper{
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper{
        max-width: 960px;
    }
}

@media(min-width: 1230px){
    .wrapper-header{ 
        max-width: 1176px;
    }
    .wrapper{
        max-width: 1176px;
        padding-left: 10px;
    }
}
